.wrap{
	width: 100%;
	background-color: red;

}

.header{
	margin: auto;
	width: 80%;
	height: 500px;
	background-image: url("../assets/header_desktop.png");

}

.content{
	margin: auto;
	width: 80%;
	height: 800px;
	background-color: green;
}